<div fxLayout="row" fxLayoutAlign=" none" fxLayout.gt-sm="row">

	<div class="f3" fxFlex="50">

		<div class="profile-section" fxLayout="row" fxLayoutAlign="none center">
			<div fxFlex="10"> <button mat-icon-button><mat-icon>chevron_left</mat-icon></button> </div>
			<div fxFlex="80" fxLayoutAlign="center center">
				<div>Personal Details</div>
			</div>
			<div fxFlex="10"><button mat-icon-button><mat-icon>edit</mat-icon></button></div>
		</div>


		<div class="user-profile-image" fxLayoutAlign="center center">
			<img src="https://via.placeholder.com/150">
  </div>

			<div class="user-profile-name" fxLayoutAlign="center center">
				Name
			</div>

			<div class="user-details-section" fxLayoutAlign="space-evenly center">
				<div class="f2" fxFlex="30%" fxLayoutAlign="center">1</div>
				<div class="f2" fxFlex="30%" fxLayoutAlign="center">2</div>
				<div class="f2" fxFlex="30%" fxLayoutAlign="center">3</div>
			</div>

			<div class="user-detail-section f4" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="5px">
				<div class="f2">Field 1</div>
				<div class="f2">Field 2</div>
				<div class="f2">Field 3</div>
			</div>

	</div>



		<div class="f2" fxFlex="50">
			<div class="profile-tabs">
				<mat-tab-group>
					<mat-tab label="First"> Content 1 </mat-tab>
					<mat-tab label="Second"> Content 2 </mat-tab>
					<mat-tab label="Third"> Content 3 </mat-tab>
				</mat-tab-group>
			</div>
		</div>

	</div>