
<div fxLayout="row" fxLayoutAlign=" none" fxLayout.gt-sm="row"  >

<div class="f3" fxFlex="50">

  <div class="profile-section" fxLayout="row" fxLayoutAlign="none center" >
    <div fxFlex="10"> <button mat-icon-button><mat-icon>chevron_left</mat-icon></button> </div>
    <div fxFlex="80" fxLayoutAlign="center center"><div>Personal Details</div></div>
    <div fxFlex="10"><button mat-icon-button><mat-icon>edit</mat-icon></button></div>
  </div>

  
  <div class="user-profile-image" fxLayoutAlign="center center">
    <img src="https://via.placeholder.com/150">
  </div>

  <div class="user-profile-name" fxLayoutAlign="center center">
    Name
  </div>


  <div class="user-details-section" fxLayoutAlign="space-evenly center">
      <div>1</div>
      <div>2</div>
      <div>3</div>
  </div>

  <div class="user-detail-section" fxLayout="row">
      details
  </div> 

</div>

  

<div class="f2" fxFlex="50">
  <div class="profile-tabs">
    <mat-tab-group>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>

</div>
