fxlayout.lt-md{
  /* border: solid 1px yellow !important; */
}

.bounds{
  /* border: solid 5px red; */
}

.flex-1{
 /* border: solid 1px red !important; */
  background-color:orange;
  height:50px;
}

.flex-2{
 /* border: solid 1px blue !important; */
  background-color: blue;
}

.flex-3{
 /* border: solid 1px blue !important; */
 background-color: green;
}

.flex-4{
 /* border: solid 1px blue !important; */
 background-color: yellow;
}