<h2>Example 1</h2>


<div class="bounds" fxLayout="column" fxLayoutAlign=" none" >

  <div class="flex-3">item1</div>

  <div class="flex-2">item2</div>

</div>

<hr>

<h2>Example 2 </h2>
<div class="bounds" fxLayout="row" fxLayoutAlign=" none" >
  <div class="flex-3" fxFlex="50">item1</div>
  <div class="flex-2" fxFlex="50">item2</div>
</div>

<hr>

<h2>Example 3</h2>
<div class="bounds" fxLayout="row" fxLayoutAlign="none" fxLayout.xs="column">
  <div class="flex-1" fxFlex="20">item1</div>
  <div class="flex-2" fxFlex="50">item2</div>
  <div class="flex-3" fxFlex="30">item2</div>
</div>
<hr>

<h2>Example 4</h2>




<!-- <div class="bounds"  fxLayout="row" fxLayoutAlign="center stretch">

  <div class="bounds" fxLayout="row" fxFlexFill>
    <h1>Fx Flex Example</h1>
  </div>

  <div class="bounds" >

    <div class="content flex-1" fxLayout="row" fxLayout.xs="column" fxFlexFill>

      <div fxFlex="15" class="sec1 flex-2" fxFlex.xs="55">
        first-section
      </div>
      <div fxFlex="30" class="sec2 flex-3">
        second-section
      </div>
      <div fxFlex="55" class="sec3 flex-4" fxFlex.xs="15">
        third-section
      </div>

    </div>

  </div>

</div> -->