<h1>Fx Flex Example</h1>

<div fxLayout="row" fxLayout.lt-md="column"  fxLayoutGap="10px">
  <div fxLayout.gt-md="row" fxLayout.lt-sm="column"  fxLayoutGap="10px" fxFlex="100"  fxFlex.gt-md="50">
    <div fxFlex.lt-md="50" fxFlex.lt-sm="100" >1</div>
      <div fxFlex.lt-md="50" fxFlex.lt-sm="100" >2</div>
      </div>
      <div fxLayout.gt-md="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100"   fxFlex.gt-md="50">
        <div fxFlex.lt-md="50" fxFlex.lt-sm="100" >3</div>
        <div fxFlex.lt-md="50" fxFlex.lt-sm="100" >4</div>
      </div>
</div>