<h2>Example 1</h2>


<div class="b1" fxLayout="column" fxLayoutAlign=" none">

	<div class="f3" fxLayoutAlign="center">item1</div>

	<div class="f2" fxLayoutAlign="center">item2</div>

</div>

<hr>

<h2>Example 2 </h2>
<div class="b1" fxLayout="row" fxLayoutAlign=" none">
	<div class="f3" fxFlex="50">item1</div>
	<div class="f2" fxFlex="50">item2</div>
</div>

<hr>

<h2>Example 3</h2>
<div class="b1" fxLayout="row" fxLayoutAlign="none" fxLayout.xs="column">
	<div class="f1" fxFlex="20">item1</div>
	<div class="f2" fxFlex="50">item2</div>
	<div class="f3" fxFlex="30">item2</div>
</div>
<hr>

<h2>Example 4</h2>

<div class="b1" fxLayout="row" fxLayoutAlign="none" fxLayout.xs="column">
	<div class="f1" fxFlex="50">
		<div class="b1 f4">item 1 A</div>
		<div class="b1 f3">item 1 B</div>
	</div>
	<div class="f2" fxFlex="50">item2</div>
</div>
<hr>

<h2>Example 5</h2>
<div class="b1" fxLayout="row" fxLayoutAlign="none" fxLayout.xs="column">
	<div class="f1" fxFlex="50">
		<div class="b1 f4" fxFlex="50%">item 1 A</div>
		<div class="b1 f3" fxFlex="50%">item 1 B</div>
	</div>
	<div class="f2" fxFlex="50">item2</div>
</div>

<hr>

<h2>Example 6</h2>


<div class="b1" fxLayout="column" fxLayoutAlign=" center">
  <div class="container b2">
    <div class="b1" fxLayout="row" fxLayoutAlign="none">
    	<div class="f1" fxFlex="50">item1</div>
    	<div class="f2" fxFlex="50">item2</div>
    </div>
  </div>
</div>
