/* ========================================= */
/* These styles are used on all the examples */
/* ========================================= */

hr{
  margin-top: 15px;
}

.b1{
  border: solid 4px #ff7979;
}

.b2{
  border: solid 4px #686de0;
}

.f1{
   /* border: solid 1px red !important; */
  background-color:#038387;
  /* height:50%; */
}

.f2{
 /* border: solid 1px blue !important; */
  background-color: #00B294;
  /* height:  50%; */
}

.f3{
 /* border: solid 1px blue !important; */
 background-color: #0099BC;
 /* height: 50%; */
}

.f4{
 /* border: solid 1px blue !important; */
 background-color: #2D7D9A;
}

.f5{
  background-color: #486860;
}

.f6{
  background-color: #647C64;
}

fxlayout.lt-md{
  /* border: solid 1px yellow !important; */
}


/* Example 6 */

.container{
  max-width: 600px;
  min-width: 300px;
}
