
<div fxLayout="column" fxLayoutAlign=" none" fxLayout.gt-sm="row"  >

<div class="flex-3" fxFlex="50">

  <div class="profile-section" fxLayout="row" fxLayoutAlign="none center" >
    <div fxFlex="10">
         <button mat-icon-button><mat-icon>chevron_left</mat-icon></button>
    </div>
    <div fxFlex="80" class="test" fxLayoutAlign="center center"><div>Personal Details</div></div>
    <div fxFlex="10"><button mat-icon-button><mat-icon>edit</mat-icon></button></div>
  </div>

  <div class="user-section"> 
    <div class="user-profile-image" fxLayoutAlign="center center">image</div>
    <div class="user-details-section" fxLayoutAlign="center center">User details</div>
  </div>

</div>

  

<div class="flex-3" fxFlex="50">
  <div class="profile-tabs">
    <mat-tab-group>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>

</div>

