/* Add application styles & imports to this file! */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,body {
  height:100%;
  /* border: solid 1px blue; */
}

my-app {
  /* border: solid 1px green; */
  height: 100%;
}

body {
  margin: 0px;
}